<p>
  <%= coupon.name %> 
  <% if coupon.active? %>
    <%= link_to t('.archive_coupon'), archive_coupon_path(coupon), method: :put %>
  <% else %>
    <%= link_to t('.reactivate_coupon'), reactivate_coupon_path(coupon), method: :put %>
  <% end %>
</p>