<% if @search_results.any? %>
  <h1>Os seguintes resultados foram encontrados</h1>
  <%= render partial: 'search_result', collection: @search_results %>
<% else %>
  <h1>Nenhum resultado foi encontrado</h1>
<% end %>

<%= link_to t(:back, scope: :interface), root_path %>