<h1 class="ls-title-intro ls-ico-home">LocaPromo</h1>
<p>Boas vindas ao sistema de gestão de promoções</p>
<hr>
<div class="ls-box ls-box-gray ls-md-space">
  <div class="row">
    <div class="col-md-2 ls-txt-center">
    <span class="ls-ico-alone ls-ico-bars"></span>
    </div>
    <div class="col-md-10">
      <a href="promotions" id="dashboard-promo"> <!-- TODO: change to link to -->
        <h3 class="ls-title-5"><strong>Promoções</strong></h3>
        <p>Gerencie as promoções do seu sistema e emita cupons!</p>
      </a>
    </div>
  </div>
</div>
<div class="ls-box ls-box-gray ls-md-space">
  <div class="row">
    <div class="col-md-2 ls-txt-center">
    <span class="ls-ico-alone ls-ico-multibuckets"></span>
    </div>
    <div class="col-md-10">
      <a href="product_categories" id="dashboard-product"> <!-- TODO: change to link to -->
        <h3 class="ls-title-5"><strong>Categorias de produtos</strong></h3>
        <p>Gerencie as categorias de produtos do sistema!</p>
      </a>
    </div>
  </div>
</div>