<% if @promotion.errors.any? %>
  <ul>
  <% @promotion.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { promotion: @promotion } %>