<% if @promotions.any? %>
  <h1 class='ls-title-intro ls-ico-list2 ls-no-bg'><%= t('.results_found') %></h1>
  <%= render partial: 'promotions_preview', locals: { promotions: @promotions } %>
<% else %>
  <h1 class='ls-title-intro ls-ico-list2 ls-no-bg'><%= t('.no_results_found') %></h1>
<% end %>

<%= link_to t(:back, scope: :interface), promotions_path, class:'ls-btn' %>
