<% if @promotions.any? %>
  <h1>Os seguintes resultados foram encontrados</h1>
  
  <%= render partial: 'promotions_preview', locals: { promotions: @promotions } %>
<% else %>
  <h1>Nenhum resultado foi encontrado</h1>
<% end %>

<%= link_to 'Voltar', promotions_path %>